//================variables====================//
$dark-text: rgb(56, 56, 56);
$prim-color: rgb(166, 203, 45);
//================fonts====================//
@import url('https://fonts.googleapis.com/css?family=Montserrat');

//================Base Styles====================//

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  text-align: center;
  margin: 0;
  color: $prim-color;
  font-size: 3.4em;
}
h3 {
  text-align: center;
  margin: 0;
  color: $prim-color;
  font-size: 3em;
  font-style: italic;
}
h4 {
  margin: 0;
  color: $dark-text;
  font-size: 1.4em;
}
h5 {
  text-align: center;
  font-size: 1.2em;
  color: $dark-text;
}
button {
  transition: all ease-in-out 200ms;
  padding: 10px 20px;
  border-radius: 10px;
  color: lighten($dark-text, 60%);
  background: $dark-text;
  border: 3px ridge lighten($dark-text, 60%);
  margin: 20px auto;
  display: block;
  &:hover {
    background: lighten($dark-text, 8%);
  }
}

//================Modular Styles====================//

.calorieTracker {
  transition: all ease-in-out 200ms;
  position: relative;
  width: 60%;
  height: 60px;
  margin: 20px auto;
  border: 2px solid lightgrey;
  box-shadow: inset 0px 2px 7px 1px grey;
  border-radius: 25px;
  &::before {
    border-radius: inherit;
    position: absolute;
    content: '';
    height: 58px;
    width: 100%;
    background: #f2f1f1;
    z-index: -2;
  }
  h4 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .calorieMeter {
    transition: width ease-in-out 200ms;
    position: absolute;
    z-index: -1;
    max-width: 100%;
    border-radius: inherit;
    height: 58px;
    background:
      /* On "top" */
      repeating-linear-gradient(
        45deg,
        transparent,
        transparent 8px,
        #ccc 8px,
        #ccc 16px
      ),
      /* on "bottom" */
      linear-gradient(
        to bottom,
        #eee,
        #999
      );
  }
}
